<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Contact</title>
    <link href="/css/style.css" rel="stylesheet">
</head>
<body>

<div class="wrapper">

    <header th:insert="header :: header"></header>

    <div class="row">
        <div th:insert="sidebar :: sidebar-1"></div>

        <div class="content">
            <div class="inner-content">

                Your message will be sent to my email<br><br>

                <label for="name">Your name:</label><br>
                <input id="name" name="name" placeholder="Your name" type="text" autofocus><br><br>

                <label for="message1">Your message:</label><br>
                <textarea id="message1" name="message1" placeholder="Your message" type="text" rows="20" cols="100"></textarea><br><br>

                <button id="sendMessage" type="submit" value="Submit">Send</button>

                <div id="afterSending"></div>

                <script>
                    let afterSending = document.getElementById("afterSending");
                    let afterSendingFunction = function (resultBody) {
                        afterSending.innerText = resultBody;
                    }
                    let button = document.getElementById("sendMessage");
                    let a = document.getElementById("name");
                    let b = document.getElementById("message1");
                    button.onclick = function () {
                        fetch('/sendEmail?name=' + a.value
                            + '&message1=' + b.value)
                            .then(result => result.text())
                            .then(afterSendingFunction);
                    }
                </script>

            </div>
        </div>

        <div class="sidebar-2">
            <div class="inner-sidebar-2">
                Sidebar #2
            </div>
        </div>

    </div>

    <div class="footer">
        <div class="inner-footer">Footer</div>
    </div>

</div>

</body>
</html>