<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Demo of</title>
    <link href="/css/style.css" rel="stylesheet">
</head>
<body>

<div class="wrapper">

    <header th:insert="header :: header"></header>

    <div class="row">
        <div th:insert="sidebar :: sidebar-1"></div>

        <div class="content">
            <div class="inner-content">
                <center><b>Homepage</b><br>
                    <div th:if="${param.logout}" class="error">
                        You have been logged out.
                    </div>
                    <br><br>
                <a href="/math">Mathematics</a><br>
                <a href="/bank">Bank</a></center>
<!--                                Обработка исключений<br>-->
<!--                                сделать форму отправки e-mail<br>-->
<!--                                для ссылок login, register, logout не действуют мои стили<br>-->
<!--                                как обработать если пароли при регистрации не совпадают<br>-->
<!--                                Как проверить используется ли уже имя пользователя?<br>-->
            </div>
        </div>

        <div class="sidebar-2">
            <div class="inner-sidebar-2">
                Sidebar #2
            </div>
        </div>

    </div>

    <div class="footer">
        <div class="inner-footer">Footer</div>
    </div>

</div>

</body>
</html>